#content {
    width: 100%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    text-align: center;
}

.title-image {
    width: 100%;
}

#icon {
    text-align: center;
}

#background {
    background-color: darkgray;
    margin: 0;
    padding: 60px;
    text-align: center;
}

.icon {
    border: 20px solid gray;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 120px;
    margin-right: 120px;
}